<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Directory</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>

    <div class="wrapper">
      <h1 id="directory">Robot Directory</h1>
      <div class="nav">
        <a class="button" href="/">Home</a>
        <a class="button" href="/forhire">View Robots for Hire</a>
        <a class="button" href="/working">View Working Robots</a>
      </div>

      {{#skills}}<h2>Skills: {{skills}}</h2>{{/skills}}
      {{#country}}<h2>Country: {{enterCountry}}</h2>{{/country}}

      <div class="robots">
        {{#robots}}
        <div class="robot-profile">
            <img class = "avatar" src="{{avatar}}" alt="">
            <a href="/profile/{{id}}">{{name}}</a>
            {{#job}}
              <p>{{job}}, {{company}}</p>
            {{/job}}
            {{^job}}
              <p>Available for hire!</p>
            {{/job}}
        </div>
        {{/robots}}
      </div>

    </div>

  </body>
</html>
